body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.title-bubble {
  text-align: center;
  background-color: #54b4d3;
  color: black;
  border-radius: 50%;
  padding: 50px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

.title-bubble h1 {
  margin: 0;
  font-size: 24px;
}

.title {
  text-align: center;
  color: #007bff;
  font-size: 36px;
  padding-top: 75px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  background-color: #54b4d3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  text-align: left;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.user-info {
  text-align: center;
  margin-top: 20px;
}

.user-name {
  font-weight: bold;
  color: #007bff;
}

/* Add these styles to your component's CSS file */

/* Style for the container of accepted information */
.accepted-information {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 5px;
}

/* Style for each accepted information item */
.accepted-information ul {
  list-style-type: none;
  padding: 0;
}

.accepted-information li {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the "New Date for Blood Donation" label */
.accepted-information li strong {
  color: #ff5722; /* You can choose your preferred color */
  font-weight: bold;
  margin-right: 5px;
}
