<div class="container mt-4">
  <h2 class="table-title">Bad Users</h2>
  <table class="table custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Emails</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Number of Declines</th>
        <th>Blocked</th>
        <th>Action</th>
        <!-- Add an additional column for actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of badUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.emails }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.numberOfDeclines }}</td>
        <td>{{ user.isBlocked }}</td>
        <td>
          <button (click)="toggleBlockUser(user)" class="btn btn-danger">
            {{ user.isBlocked ? "Unblock" : "Block" }}
            <!-- Toggle button text based on user's blocked status -->
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
